.project-navbar {
  width: 100%;
  background-color: white;
  height: 3.5rem; /* or whatever height you want */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-btn {
  background: white;
  color: black;
  border: none;
  height: 100%;
  padding: 0 1.5rem; 
  font-size: 1rem;
  cursor: none;
  transition: background-color 0.25s, color 0.25s;
  user-select: none;
}

.project-btn:hover {
  background-color: black;
  color: white;
}

.project-btn.active {
  background-color: black;
  color: white;
}

.project-item {
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.project-item.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
