.project-navbar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.project-btn {
  width: 260px;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border: 2px solid black;
  user-select: none;
  cursor: none;
  transition: background-color 0.25s, color 0.25s;
}

.project-btn:hover {
  background-color: black;
  color: white;
}

.project-btn.active {
  background-color: black;
  color: white;
}


.project-item {
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.project-item.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
