.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: white;
}

.contact-item {
  width: 260px;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border: 2px solid black;
  user-select: text;
  cursor: none;
}
